@model IEnumerable<PetShop_Huellitas.Models.Categoria>

@{
    ViewData["Title"] = "ListadoCategoria";
    Layout = "~/Views/Shared/LayoutMaster.cshtml";
}

<div class="container mt-4">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h1>Gestión de Categorías</h1>
        <a asp-action="RegistrarCategoria" class="btn btn-outline-success">
            <i class="fas fa-plus"></i> Nueva Categoría
        </a>
    </div>
    <div class="table-responsive">
        <table class="table table-striped table-hover table-rounded align-items-lg-center">
        <thead>
            <tr class="bg-warning">
                <th>
                    @Html.DisplayNameFor(model => model.IdCategoria)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Activo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FechaRegistro)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdCategoria)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>
                    <td>
                        @if (item.Activo)
                        {
                            <span class="badge bg-success">Activo</span>
                        }
                        else
                        {
                            <span class="badge bg-danger">Inactivo</span>
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FechaRegistro)
                    </td>
                    <td>
                        <div class="d-flex gap-2">
                                @Html.ActionLink("Editar", "EditarCategoria", new { id = item.IdCategoria }, new { @class = "btn btn-primary btn-sm" }) |
                                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }, new { @class = "btn btn-secondary btn-sm" }) |
                                <button type="button" class="btn btn-danger btn-sm eliminar"
                                        data-url="@Url.Action("EliminarCategoria", "Categoria", new { id = item.IdCategoria })">
                                    Eliminar
                                </button>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    </div>

</div>

@section Scripts {
    <script src="~/js/Modals.js"></script>
}
