@model IEnumerable<PetShop_Huellitas.Models.Venta>

@{
    ViewData["Title"] = "ListarVentas";
    Layout = "~/Views/Shared/LayoutMaster.cshtml";
}
<div class="container mt-2">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h1>ListarVentas</h1>

        <p>
            <a asp-action="RegistrarVenta" class="btn btn-outline-success">Nueva Venta</a>
        </p>
    </div>

    <table class="table table-striped table-hover table-rounded">
        <thead>
            <tr class="bg-warning">
                <th>ID Venta</th>
                <th>Cliente</th>
                <th>Productos</th>
                <th>Cantidad</th>
                <th>Monto Total</th>
                <th>Teléfono</th>
                <th>Dirección</th>
                <th>Fecha Venta</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.IdVenta</td>
                    <td>@item.Contacto</td>
                    <td>@item.IdProducto</td>
                    <td>@item.CantidadProducto</td>
                    <td>@item.MontoTotal</td>
                    <td>@item.Telefono</td>
                    <td>@item.Direccion</td>
                    <td>@item.FechaVenta</td>
                    <td>

                        @Html.ActionLink("Detalles", "DetalleVenta", new { id = item.IdVenta }, new { @class = "btn btn-secondary btn-sm" })|
                        <button type="button" class="btn btn-danger btn-sm eliminar"
                                data-url="@Url.Action("EliminarVenta", "Ventas", new { id = item.IdVenta })">
                            Eliminar
                        </button>
                        
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>


@section Scripts {
    <script src="~/js/Modals.js"></script>
}