@model PetShop_Huellitas.Models.Producto

@{
    ViewData["Title"] = "Eliminar producto";
    Layout = "~/Views/Shared/LayoutMaster.cshtml";
}

<h1>DeleteProducto</h1>

<h3>¿Estás seguro de eliminar este producto?</h3>
<div class="col-md-7">
    <h4>Producto</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdPro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdPro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Marca)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Marca)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreCategoria)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreCategoria)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Detalles)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Detalles)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UrlImg)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UrlImg)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaRegistro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaRegistro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Stock)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Stock)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Precio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Precio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Activo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Activo)
        </dd>
    </dl>
    
    <div class="form-group text-end">
    <form asp-action="DeleteProducto">
        <input type="submit" value="Eliminar" class="btn btn-danger"  />
    </form>
    </div>
</div>

<div class="mb-5 row">
    <a asp-action="IndexProductos"> <img class="icon" src="@Url.Content("~/img/imgButtons/flecha-derecha.png")"></a>
</div>
